.profileContainer {
  border-top: 1px solid var(--mantine-color-dark-4);
}

.profileWrapper {
  transition: "all 0.2s ease";

  &:hover {
    background-color: light-dark(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.03));
  }
}
